@import "variables";
.onAnimate {
  background-color: black;
}
.logo {
  cursor: pointer;
}
.navbar {
  height: 5rem;
  position: fixed;
  width: 100%;
  z-index: 1;
  color: $white-color;

  @mixin applyMediaQuery($size) {
    @media (max-width: $size) {
      @content;
    }
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  .leftNavbar {
    display: flex;
    align-items: center;
    min-width: 60%;
    justify-content: space-around;
  }
  .navItems {
    min-width: 40rem;
    display: flex;
    justify-content: space-around;
    line-height: 2rem;
    cursor: pointer;
  }
  .profileTab {
    display: flex;
    min-width: 15rem;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
  }
  @include applyMediaQuery(800px) {
    .navbar {
      position: relative;
    }
    .profileTab {
      display: none;
    }
    .leftNavbar {
      display: flex;
      min-width: 20rem;
      justify-content: space-between;
    }

    .navItems {
      position: absolute;
      left: 25%;
      top: 5%;
      display: flex;
      flex-direction: column;
    }
    .navItems.hidden {
      display: none;
    }
  }
}
.dropdown {
  position: relative;
  .dropdownMenu {
    position: absolute;
    right: 0;
    top: 100%;
    width: 300px;
    min-height: 100px;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    gap: 5px;
    animation: dp 1s ease-in;
    box-shadow: 1px 1px 5px rgb(255, 255, 255, 0.5);
    button {
      flex: 1;
      width: 100%;
      cursor: pointer;
      background-color: transparent;
      color: white;
      border: 1px solid white;
      border-radius: 2px;
      outline: none;
      font-size: 15px;
      padding: 4px;
    }
  }
}
@keyframes dp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
